USE [master]
GO
/****** Object:  Database [TodoDB]    Script Date: 7.08.2022 13:55:14 ******/
CREATE DATABASE [TodoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TodoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TodoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoDB]
GO
/****** Object:  Table [dbo].[Detail]    Script Date: 7.08.2022 13:55:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail](
	[Details] [varchar](500) NULL,
	[HomeId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Home]    Script Date: 7.08.2022 13:55:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home](
	[HomeId] [int] NOT NULL,
	[HomeTitle] [varchar](500) NOT NULL,
	[HomePriority] [varchar](500) NULL,
	[HomeCreatedDate] [date] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
